/*
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/

body {
  overflow-x: hidden;
  position: relative;
}

p {
  font-size: 20px;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.row p:nth-of-type(1) {
  margin-bottom: 5%;
}
.row p:nth-of-type(2) {
  margin-bottom: 5%;
  color: red;
  font-size: 14px;
  text-transform: uppercase;
}
p.small {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: #fff;
}
ul.nav.nav-pills a{
  color: #000000;
  font-size: 16px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}
.btn{
  white-space: normal;
}
div#address-telephone{
  padding-top: 50px;
}
#nav-container{
  margin-left: 0;
}
li#facebook-like{
  padding-top: 14px;
  float: right;
  padding-left: 5px;
}
li span{
  padding-left: 2px;
}
#mc_embed_signup{
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}
#mc-embedded-subscribe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#mc_embed_signup h2{
  text-align: center;
}
#modal-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#submit-button{
  display: block;
  margin-left: 36%;
  margin-right: 36%;
  margin-top: 20px;
}
#mission-statement{
  font-style: italic;
  font-size: 25px;
  margin-bottom: 5px;
}
#mission-statement span{
  text-transform: uppercase;
}
div#modal-facebook{
  margin-top: 10px
}
.coupon-row{
  padding-top: 10px;
}
a#mailchimp-button{
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 24px;
}
.modal-header{
  text-align: center;
}
.navbar-brand{
  padding: 0;
}
.img-centered {
  margin: 0 auto;
}
.navbar-toggle{
  margin-top: 29px;
}
.coupon-row img{
  opacity: 0.7;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  max-width: 100%;
  max-height: 100%;
  height: 95%;
  width: 95%;
  padding-bottom: 10px;
}
#coupon-print-row img{
  width: 500px;
  height: 250px;
}
ul.nav.nav-pills.nav-stacked li{
  text-align: center;
}
span.glyphicon.glyphicon-ok-sign{
  color: green;
}
span.glyphicon.glyphicon-remove-sign{
  color: red;
}
header {
  text-align: center;
  color: #fff;
  background: #142e48;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 3em;
  font-weight: 700;
}

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

@media(min-width:768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 5.75em;
    font-family: 'Mountains of Christmas', cursive;
    font-weight: 700;
  }

  header .intro-text .skills {
    font-size: 1.75em;
  }
  .navbar-fixed-top {
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}
@media(max-width:998px) {
  li#facebook-like{
    float: left;
  }
}
  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
  }

  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

.navbar {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.navbar a:focus {
  outline: 0;
}

.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
  outline: 0;
}

.navbar-default,
.navbar-inverse {
  border: 0;
  padding-bottom: 15px;
}
div#bs-example-navbar-collapse-1{
  padding-top: 20px;
}
.navbar-header{
  display: inline-block;
}
a.navbar-brand{
  margin-left: 0px;
}
.navbar-header.page-scroll{
  padding-left: 50%;
}

section {
  padding: 100px 0;
}

section h2 {
  margin: 0;
  font-size: 3em;
}

section#about{
  color: #fff;
  background: #252a2f;
}
section#tv-commercials{
  color: #fff;
  background: #142e48;
}
section#location{
  color: #fff;
  background: #142e48;
}
#nav-container{
  padding-left: 5px;
  font-size: 12px;
}

#television-intro{
  padding-bottom: 30px;
}
.coupon-row img{
  opacity: 0.7;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  max-width: 100%;
  max-height: 100%;
  height: 95%;
  width: 95%;
  padding-bottom: 10px;
}
#three-reasons{
  padding-top: 15px;
}
.reason-images{
  font-size: 4em;
}
.img-responsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}
#marine-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}
iframe{
  width: 400px;
  height: 250px;
  frameborder: 0px;
  border: 0px;
}
.commercial-videos{
  width: 360px;
  height: 115px;
}
@media(max-width:767px) {
  section {
    padding: 75px 0;
  }

  section.first {
    padding-top: 75px;
  }
  li#facebook-like{
    display: none;
  }
  #submit-button{
    margin-left: 30%;
  }
  .row p:nth-of-type(1) {
    margin-bottom: 10%;
  }
}

@media(min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
  div#mobile-facebook{
    display: none;
    margin-top: 25px;
  }
  .navbar-header{
    padding-bottom: 0px !important;
  }
  .navbar-nav{
    float: none;
  }
  .navbar-left{
    float: none !important;
  }
}

.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: solid 2px #fff;
  color: #142e48;
  background: #fff;
}

footer {
  color: #fff;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #252a2f;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  color: black;
  background-color: #f8f8f8;
}

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}

.scroll-top {
  opacity: 0.6;
  z-index: 1049;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
}

.scroll-top .btn {
  width: 57px;
  height: 50px;
  font-size: 20px;
  line-height: 28px;
}


@media(min-width:800px) {
  div#nav-container{
    width: 780px;
  }
}
@media(min-width:900px) {
  div#nav-container{
    width: 880px;
  }
}
@media(min-width:1000px) {
  div#nav-container{
    width: 980px;
  }

}
@media(min-width:1100px) {
  div#nav-container{
    width: 1080px;
  }

}
@media(min-width:1200px) {
  div#nav-container{
    width: 1180px;
  }

}
@media(min-width:1300px) {
  div#nav-container{
    width: 1280px;
  }

}

@media(min-width:1400px) {
  div#nav-container{
    width: 1380px;
  }

}
@media(min-width:1600px) {
  div#nav-container{
    width: 1580px;
  }

}
@media(min-width:1800px) {
  div#nav-container{
    width: 1780px;
  }

}

.scroll-top .btn:focus {
  outline: 0;
}
span.glyphicon.glyphicon-menu-up{
  font-size: 30px;
}
span.redirect {
  unicode-bidi:bidi-override;
  direction: rtl;
}
.ui-loader.ui-corner-all.ui-body-a.ui-loader-default{
  display: none;
}
